<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Fake News Classifier </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="center">
            <h1> FAKE NEWS CLASSIFIER </h1>
            <div class="container">
                <form class="form-wrapper" action="{{ url_for('predict') }}" method="post">
                    <div style="transform:translateY(-28px); font-family: 'Poppins', sans-serif;">
                        {{ prediction_text }}
                    </div>
                    <input type="text" name="news" placeholder="Paste News" required="required" />
                    <button class="btn" type="submit" name="predict"> Predict </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>